blinker==1.7.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
commonmark==0.9.1
Flask==3.0.0
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
MarkupSafe==2.1.3
nba_api==1.4.1
numpy==1.26.3
pandas==2.1.4
platformdirs==2.6.2
pluggy==1.3.0
psycopg2-binary==2.9.9
Pygments==2.17.2
pyscript==0.2.5
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
rich==12.6.0
rich-click==1.7.3
scikit-learn==1.3.2
scipy==1.11.4
six==1.16.0
SQLAlchemy==2.0.25
threadpoolctl==3.2.0
toml==0.10.2
typer==0.4.2
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
Werkzeug==3.0.1
