body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/static/background.png');
    background-size: cover; /* Covers the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Optional: keeps the image fixed during scroll */
    background-position: center center;
    margin: 0;
}

#connectFour {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 25px; /* Makes the cells circular */
    background-color: white;
}

/* You can add more classes for different states like 'red' or 'yellow' for the discs */
.empty:hover {
    background-color: #ddd; /* Example hover effect */
}

.play-move {
    width: 52px;
}

#cell53 {
    background-color: yellow;
}