body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.description {
    margin: 45px;
}

.full-width-image {
    width: 60%;    /* Makes the image take up the full width of the screen */
    height: auto;   /* Scales the height according to the aspect ratio */
    display: block; /* Prevents any unwanted space around the image */
    margin: auto;
}

#imageContainer {
    position: relative;
}

#imageContainer img {
    position: absolute;
    max-width: 200px;
    max-height: 200px;
}

#champImage2 {
    left: 124px;
}

#champImage3 {
    left: 249px;
}

#champImage4 {
    left: 372px;
}

#champImage5 {
    left: 496px;
}

#predictions {
    width: 100%;
    background-color: #f8f9fa;
}

.centered-header {
    text-align: center;
    margin: 0 auto;
}