body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/static/background.png');
    background-size: cover; /* Covers the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Optional: keeps the image fixed during scroll */
    background-position: center center;
}

h1 {
    margin: 60px;
}

.description {
    margin-left: 120px;
    margin-right: 120px;
}

.full-width-image {
    width: 60%;    /* Makes the image take up the full width of the screen */
    height: auto;   /* Scales the height according to the aspect ratio */
    display: block; /* Prevents any unwanted space around the image */
    margin: auto;
}

#imageContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    margin-right: 60px;
}

#imageContainer img {
    max-width: 200px;
    max-height: 200px;
}

select {
    margin-left: 15px;
    margin-right: 15px;
}

#predictions {
    width: 100%;
    background-color: #f8f9fa;
}

.centered-header {
    text-align: center;
    margin: 0 auto;
}

#client-post {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
}