body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('/static/background.png');
    background-size: cover; /* Covers the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Optional: keeps the image fixed during scroll */
    background-position: center center;
}

.full-width-image {
    width: 80%;    /* Makes the image take up the full width of the screen */
    height: auto;   /* Scales the height according to the aspect ratio */
    display: block; /* Prevents any unwanted space around the image */
    margin: auto;
}

#small-width-image {
    width: 60%;    /* Makes the image take up the full width of the screen */
    height: auto;   /* Scales the height according to the aspect ratio */
    display: block; /* Prevents any unwanted space around the image */
    margin: auto;
}

h1 {
    margin: 60px;
}

.description {
    margin: 45px;
    margin-left: 120px;
    margin-right: 120px;
}