<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>ARAM Simulator</title>
</head>
<body>
    <h1>ARAM Team Comp Prediction</h1>

    <form method="post" action="/submit">
        <select name="dynamicDropdown" id="dynamicDropdown1" onchange="updateImage1()">
            <option value="" selected disabled>Select an option</option>
            {% for champ in data %}
                <option value="{{ champ.image }}" {% if champ.image.split('.')[0] == champs[0] %}selected{% endif %}>{{ champ.champ_name }}</option>
            {% endfor %}
        </select>

        <select name="dynamicDropdown" id="dynamicDropdown2" onchange="updateImage2()">
            <option value="" selected disabled>Select an option</option>
            {% for champ in data %}
            <option value="{{ champ.image }}" {% if champ.image.split('.')[0] == champs[1] %}selected{% endif %}>{{ champ.champ_name }}</option>
            {% endfor %}
        </select>

        <select name="dynamicDropdown" id="dynamicDropdown3" onchange="updateImage3()">
            <option value="" selected disabled>Select an option</option>
            {% for champ in data %}
            <option value="{{ champ.image }}" {% if champ.image.split('.')[0] == champs[2] %}selected{% endif %}>{{ champ.champ_name }}</option>
            {% endfor %}
        </select>

        <select name="dynamicDropdown" id="dynamicDropdown4" onchange="updateImage4()">
            <option value="" selected disabled>Select an option</option>
            {% for champ in data %}
            <option value="{{ champ.image }}" {% if champ.image.split('.')[0] == champs[3] %}selected{% endif %}>{{ champ.champ_name }}</option>
            {% endfor %}
        </select>

        <select name="dynamicDropdown" id="dynamicDropdown5" onchange="updateImage5()">
            <option value="" selected disabled>Select an option</option>
            {% for champ in data %}
            <option value="{{ champ.image }}" {% if champ.image.split('.')[0] == champs[4] %}selected{% endif %}>{{ champ.champ_name }}</option>
            {% endfor %}
        </select>
        <input type="text" name="summonername" placeholder="Enter player (Optional)">
        <input type="submit" value="Submit">
    </form>

    <div id="imageContainer" > 
        <img id="champImage1" src="/static/champion/{{ pics[0] }}"/>
        <img id="champImage2" src="/static/champion/{{ pics[1] }}"/>
        <img id="champImage3" src="/static/champion/{{ pics[2] }}"/>
        <img id="champImage4" src="/static/champion/{{ pics[3] }}"/>
        <img id="champImage5" src="/static/champion/{{ pics[4] }}"/>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="predictions"> 
        <h1 class="centered-header"> Probability of Winning: </h1>
        <h1 class="centered-header"> {{ value }} </h1>
    </div>

     
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>