<!DOCTYPE html>
<html>
<head>
    <title>Victor Uong's Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav-bar.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/portfolio_favicon.png">
</head>
<body>
    <nav>
        <ul class="nav-links">
            <li><a href="home">Home</a></li>
            <li><a href="static/victoruongresume.pdf">Resume</a></li>
            <li><a href="league">League</a></li>
            <li><a href="nba">Fantasy NBA</a></li>
            <li><a href="connectfour">Connect Four</a></li>
        </ul>
    </nav>

    <section id="about" class="about-section">
        <div class="profile-pic">
            <img src="" alt="">
        </div>
        <div class="about-content">
            <h2>About Me</h2>
            <p>This section will contain information about me.</p>
        </div>
    </section>

    <section id="services">
        <h2>Services</h2>
        <p>Details about the services I offer.</p>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <p>How you can reach me.</p>
    </section>
</body>
</html>