<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nba.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav-bar.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/nba_favicon.ico">
    <title>Fantasy NBA Dashboard</title>
</head>
<body>
    <nav>
        <ul class="nav-links">
            <li><a href="home">Home</a></li>
            <li><a href="static/victoruongresume.pdf">Resume</a></li>
            <li><a href="league">League</a></li>
            <li><a href="nba">Fantasy NBA</a></li>
            <li><a href="connectfour">Connect Four</a></li>
            <li><a href="photos">Photography</a></li>
        </ul>
    </nav>
    <h1> Fantasy Basketball Dashboard </h1>
    <div class='description'>
    
    <p> Fantasy basketball is a game where participants acts as owners/ GM of a hypothetical professional basketball team. 
        Each competitors in the league select their rosters by participating in a draft in which all National Basketball Association (NBA) 
        players are available. Fantasy points are awarded based on the actual performances of the drafted basketball players in 
        real-world competition. Fantasy points are calculated with the following: 
    
    </p>
        <li>For each point scored: 1 </li>
        <li>For each rebound: 1.2</li>
        <li>For each assist: 1.5</li>
        <li>For each block: 2</li>
        <li>For each steal: 2</li>
        <li>For each turnover: -1</li>

    </div>
    <style>
        .tableauPlaceholder {
            margin: auto; /* Centers the div */
            margin-left: 10%;
            text-align: left; /* Keeps the content inside aligned to left */
        }
    </style>
    <div class='tableauPlaceholder' id='viz1704753894896' style='position: relative'>
        <noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;fa&#47;fantasy_nba&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
            <param name='name' value='fantasy_nba&#47;Dashboard1' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;fa&#47;fantasy_nba&#47;Dashboard1&#47;1.png' /> 
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
        </object>
    </div>  
    <script type='text/javascript'> 
        var divElement = document.getElementById('viz1704753894896'); 
        var vizElement = divElement.getElementsByTagName('object')[0]; 
        if ( divElement.offsetWidth > 800 ) { 
            vizElement.style.width='90%';vizElement.style.height=(divElement.offsetWidth*0.50)+'px';
        } 

        var scriptElement = document.createElement('script'); 
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; 
        vizElement.parentNode.insertBefore(scriptElement, vizElement); 
    </script>


    <h1>Project Setup</h1>

    <img src="static/fantasynba_structure.png" alt="Descriptive Alt Text" id="small-width-image">


</body>
</html>

