<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nba.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav-bar.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/nba_favicon.ico">
    <title>Fantasy NBA Dashboard</title>
</head>
<body>
    <nav>
        <ul class="nav-links">
            <li><a href="home">Home</a></li>
            <li><a href="static/victoruongresume.pdf">Resume</a></li>
            <li><a href="league">League</a></li>
            <li><a href="nba">Fantasy NBA</a></li>
            <li><a href="connectfour">Connect Four</a></li>
        </ul>
    </nav>
    <h1> Fantasy Basketball Dashboard </h1>
    <div class='description'>
    
    <p> Fantasy basketball is a game where participants acts as owners/ GM of a hypothetical professional basketball team. 
        Each competitors in the league select their rosters by participating in a draft in which all National Basketball Association (NBA) 
        players are available. Fantasy points are awarded based on the actual performances of the drafted basketball players in 
        real-world competition. Fantasy points are calculated with the following: 
    
    </p>
        <li>For each point scored: 1 </li>
        <li>For each rebound: 1.2</li>
        <li>For each assist: 1.5</li>
        <li>For each block: 2</li>
        <li>For each steal: 2</li>
        <li>For each turnover: -1</li>

    </div>
    
    <img src="static/dashboard.png" alt="Descriptive Alt Text" class="full-width-image">

</body>
</html>
