<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nba.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav-bar.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/nba_favicon.ico">
    <title>Fantasy NBA Dashboard</title>
</head>
<body>
    <nav>
        <ul class="nav-links">
            <li><a href="home">Home</a></li>
            <li><a href="static/victoruongresume.pdf">Resume</a></li>
            <li><a href="league">League</a></li>
            <li><a href="nba">Fantasy NBA</a></li>
            <li><a href="connectfour">Connect Four</a></li>
        </ul>
    </nav>
    <div class='description'>
    <h1> Fantasy Basketball Dashboard </h1>
    <img src="static/dashboard.png" alt="Descriptive Alt Text" class="full-width-image">
    </div>
</body>
</html>
